/* BLOC */

#bloc
{
    display: flex;
    flex-direction: row-reverse;
}

body
{
    background-color: #6D4C41;
    margin: 0;
}

.bloc:nth-child(1)
{
    width: 68%;
    background-color: white;
}

.bloc:nth-child(2)
{
    width: 32%;
}

/* POLICE */

@font-face{
    font-family: 'Corbert';
    src: url('Corbert-Regular-webfont.woff'),
        url('Corbert-Regular-webfont.woff2'); 
}

*
{
    font-family: Corbert, Arial, Police, Verdana, sans-serif;
}

/* POLICE */

/* COLOR */

#texte h1 
{
    font-weight: normal;
}

#prenom
{
    color: #6D4C41;
    font-weight: bold;
}

#texte h2
{
    color:grey;
    font-weight: normal;
}

hr, i, ul, aside h2
{
    color: #6D4C41;
}

aside p, aside ul, aside i
{
    color: #E0E0E0;
}

/* COLOR */

/* HEADER */

header
{
    display: flex;
    background-color: white;
}

#photo
{
    width: 32%;
    background-color: #6D4C41;
}

#texte
{
    width: 68%;
}

#photo_cv
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thick double white;
    border-radius: 50%;
    width: 12em;
    height: 12em;
    margin-top: 4em;
}

header h1
{
    margin-left: 1.5em;
    margin-top: 2em;
    font-size: 3em;
}

header h2
{
    margin-left: 3.1em;
    margin-top: -1.5em;
}

header hr
{
    margin-left: 4.7em;
    margin-top: -1.5em;
    height: 0.1em;
    background-color: #6D4C41;
    width: 5.8%;
}

/* HEADER */

/* SECTION */

section, footer
{
    margin-left: 4.375em;
}

section i, footer i
{
    font-size: 1.3em;
}

.titre_section
{
    font-size: 1.1;
    margin-left: 1em;
}

section hr, footer hr
{
    height: 0.15em;
    margin-top: -1em;
    margin-right: 3.125em;
    background-color: #6D4C41;
}

section ul 
{
    width: 20%;
    margin-top: 5%;
}

section h3, section h4, section p
{
    width: 79%;
    margin-left: 20%;
}

section h3
{
    margin-top: -3em;
}

section:nth-child(2) h3
{
    margin-top: -4em;
}

section h4
{
    font-weight: normal;
}

section, footer
{
    margin-top: 5em;
}

.liste
{
    color:black;
}

.puce
{
    list-style: circle;
}

/* SECTION */ 

/* FOOTER */

footer h5
{
    font-size: 1em;
    margin-top: 3em;
}

#recommandation
{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

footer ul
{
    list-style: none;
    margin-left: -2.5em;
    font-weight: bold;
}

.non_bold_recommandation
{
   font-weight: normal;
}

/* FOOTER */

/* ASIDE */

aside
{
    background-color: #6D4C41;
    height: 95%;
}

.aside
{
    background-color: white;
    text-align: center;
}

.aside:nth-child(1)
{
    margin-top: 2em;
}

.aside:nth-child(3)
{
    margin-top: 3em;
}

.aside:nth-child(5)
{
    margin-top: 22em;
}

aside ul
{
    list-style: none;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

aside li
{
    justify-content: space-between;
    height: 4em;
}

aside p
{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

aside i
{
    font-size: 2em;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
}

#icone_loisirs
{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* ASIDE */

/* MEDIA QUERIES */

@media screen and (max-width:1440px)
{
    .aside:nth-child(5)
    {
        margin-top: 17em;
    }
    
    .recommandation:nth-child(2)
    {
        margin-right: -5em;
    }
    
    section p
    {
        width: 75%
    }
}

@media screen and (max-width:1024px)
{
    header hr
    {
        width: 10%
    }
    
    section p
    {
        width: 72%;
    }
    
    section h4, section p
    {
        margin-left: 10em;
    }
    
    section h3
    {
        margin-left: 8.5em;
    }
    
    .aside:nth-child(5)
    {
        margin-top: 11em;
    }
    
    #icone_loisirs
    {
        width: 75%
    }
    
    .recommandation:nth-child(2)
    {
        margin-right: -10em;
    }
}

@media screen and (max-width:768px)
{
    header
    {
        flex-direction: column;
    }
    
    header hr
    {
        width: 14%
    }
    
    #photo
    {
        width: 100%;
    }
    
    #photo_cv
    {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #texte
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: -4em;
        margin-bottom: 2em;
    }
    
    body
    {
        background-color: white;
    }
    
    #bloc
    {
        flex-direction: column;
    }
    
    section
    {
        margin-top: 1em;
    }
    
    section:nth-child(2)
    {
        margin-top: 4em;
    }
    
    section hr, footer hr
    {
        width: 100%;
    }
    
    section h3, section h4, section p
    {
        width: 100%;
    }
    
    footer
    {
        margin-top: 4em;
    }
    
    #recommandation
    {
        width: 70%;
    }
    
    .bloc_page
    {
        background-color: white;
    }
    
    .bloc:nth-child(2)
    {
       width: 100%;
    }
    
    .aside
    {
        background-color: #6D4C41;
        color: white;
    }
    
    aside p, aside ul, aside i
    {
        color: #6D4C41;
    }
    
    aside ul
    {
        display: flex;
        justify-content: space-around;
    }
    
    #contact_droite
    {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .aside:nth-child(3)
    {
        margin-top: 2em;
    }
    
    aside p
    {
        width: 90%;
    }
    
    .aside:nth-child(5)
    {
        margin-top: 2em;
    }
    
    #icone_loisirs
    {
        width: 50%;
        font-size: 1.2em;
    }
    
    aside i
    {
        border: 2px solid #6D4C41;
    }
}

@media screen and (max-width:425px)
{
    header
    {
        width: 100%
    }
      
    #photo_cv
    {
        width: 10em;
        height: 10em;
    }
    
    #texte
    {
        width: 100%;
    }
    
    header h1
    {
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-top: 3em;
    }
    
    header h2
    {
        font-size: 1em;
        margin-right: auto;
        margin-left: auto;
        width: 69%;
    }
    
    header hr
    {
        margin-left: 4.2em;
        width: 11%;
        margin-top: -1em;
    }
    
    #bloc
    {
        width: 100%;
    }
    
    .bloc:nth-child(1)
    {
        width: 100%;
    }
    
    section, footer
    {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    section h2, footer h2
    {
        font-size: 1.3em;
        margin-left: 0.5em;
    }
    
    section hr, footer hr
    {
        width: 93%;
    }
    
    .section ul
    {
        width: 100%;
        margin-top: 15%;
    }
    
    .section ul br
    {
        display: none;
    }
    
    section h3, section h4, section p
    {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        margin-top: auto;
    }
    
    section:nth-child(2) h3, section:nth-child(2) h4, section:nth-child(2) p
    {
        margin-top: auto;
    }
    
    #recommandation
    {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    
    aside ul
    {
        flex-direction: column;
        margin-left: 6%;
    }
    
    #icone_loisirs
    {
        width: 70%;
    }
}

@media screen and (max-width:375px)
{
    header h1
    {
        font-size: 1.9em;
    }
    
    header hr
    {
        margin-left: 15.5%;
        width: 13%;
    }
    
    .titre_section
    {
        font-size: 0.9em;
    }
    
    section hr, footer hr
    {
        width: 97%;
    }
    
    h3, h4, p, ul, h5
    {
        font-size: 0.9em;
    }
    
    #recommandation
    {
        margin-left: 12%;
    }
    aside ul
    {
        margin-left: auto;
    }
    
    #icone_loisirs
    {
        font-size: 1.1em;
    }
}

@media screen and (max-width:320px)
{
    header h1
    {
        font-size: 1.6em;
    }
    
    header h2
    {
        font-size: 0.9em
    }
    
    header hr
    {
        margin-top: -0.9em;
    }
    
    section i, footer i
    {
        font-size: 0.9em;
    }
    
    .titre_section
    {
        font-size: 0.8em;
        margin-right: auto;
        margin-left: auto;
    }
    
    section hr, footer hr
    {
        width: 95%;
    }
    
    section h3, section h4, section p, section ul, footer h5, footer li, aside ul, aside p
    {
        font-size: 0.9em
    }
    
    .aside
    {
        font-size: 1.3em;
    }
    
    #icone_loisirs
    {
        font-size: 1em;
    }
    
}