/* POLICE */

@font-face{
    font-family: 'Corbert';
    src: url('Corbert-Regular-webfont.woff'),
        url('Corbert-Regular-webfont.woff2'); 
}

*
{
    font-family: Corbert, Arial, Police, Verdana, sans-serif;
}

/* COLOR */

#header_photo, .bloc:nth-child(2), hr
{
    background-color: #6D4C41;
}

.aside_titre
{
    background-color: white;
}

aside
{
    color: white;
}

#prenom, hr, section i, footer i, .aside_titre, footer ul, section ul
{
    color: #6D4C41;
}

.liste
{
    color: black;
}

header h2
{
    color: grey;
}

/* HEADER */

header
{
    display: flex;
}

#header_photo
{
    width: 32%;
}

#header_titre
{
    width: 68%;
    margin: auto;
}

header h1, header h2, header hr
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h1
{
    font-size: 2.5em;
    font-weight: normal;
}

#prenom
{
    font-weight: bold;
}

header h2
{
    margin-top: -1.5em;
    font-size: 1.2em;
}

header hr
{
    width: 3.7em;
    height: 0.1em;
    margin-left: 5%;
    margin-top: -1em;
}

#photo_cv
{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: thick double white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* SECTION / FOOTER / ASIDE */

body
{
    margin: 0;
}

#bloc
{
    display: flex;
    flex-direction: row-reverse;
}

.bloc:nth-child(1)
{
    width: 68%;
}

.bloc:nth-child(2)
{
    width: 32%;
    padding-top: 40px;
    
}

/* SECTION */

section i, footer i
{
    font-size: 1.5em;
    float: left;
}

section h2, footer h2
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5%;
}

.section_titre
{
    margin-left: 5%;
}

section:nth-child(1) .section_titre, footer .section_titre
{
    margin-left: 4.25%;
}

section hr, footer hr
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 0.1em;
    margin-top: -1em;
}

section ul
{
    float: left;
    width: 16%;
    margin-top: auto;
    /*margin-left: 1%;*/
}

.puce
{
    list-style: circle;
}

.section_texte
{
    margin-top: 40px;
    width: 95%;
    margin-left: 2.4%
}

section h3, section h4, section p
{
    width: 73%;
    margin-left: auto;
}

section h4
{
    font-weight: normal;
}

/* FOOTER */

#recommandation
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.recommandation:nth-child(2)
{
    margin-left: auto;
    margin-right: auto;
}

.recommandation ul
{
    list-style: none;
    margin-left: -2.5em;
}

footer h5
{
    font-size: 1em;
}

footer li
{
    font-weight: bold;
}

.non_bold_recommandation
{
    font-weight: normal;
}

/* ASIDE */

aside h2
{
    border: 4px solid white;
    text-align: center;
    margin-top: -0.5em;
}

aside ul
{
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

aside li
{
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

aside p
{
    text-align: justify;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 650px;
}

aside i
{
    font-size: 2em;
    border: 1px solid white; 
    border-radius: 50%;
    padding: 15px;
}

#icone_loisirs
{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


/* MEDIA QUERIES */


@media screen and (max-width:1440px)
{
    section h3, section h4, section p
    {
        width: 70%;
    }
}

@media screen and (max-width:1024px)
{
    #icone_loisirs
    {
        width: 75%;
        font-size: 0.8em;
    }
}

@media screen and (max-width:768px)
{
    header
    {
        flex-direction: column;
    }
    
    #header_photo
    {
        width: 100%;
    }
    
    #photo_cv
    {
        width: 10em;
        height: 10em;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    header h1, header h2
    {
        text-align: center;
    }
    
    header h1
    {
        font-size: 2.1em;
    }
    
    header h2
    {
        font-size: 1em;
    }
    
    header hr
    {
        width: 13.3em;
        margin-left: auto;
        margin-right: auto;
    }
    
    #bloc
    {
        flex-direction: column;
    }
    
    .bloc:nth-child(1)
    {
        width: 100%;
    }
    
    .bloc:nth-child(2)
    {
        width: 100%;
        margin-top: 7%;
    }
    
    .section_titre
    {
        font-size: 0.85em;
    }
    
    .aside_titre
    {
        border: 4px solid #6D4C41;
    }
    
    aside p
    {
        min-height: inherit;
        margin-bottom: 7%;
    }
}

@media screen and (max-width:533px)
{
    #header_titre
    {
        width: 100%;
    }
    
        header h1
    {
        font-size: 1.9em;
    }
    
    header hr
    {
        height: 0.05em;
    }
    
    section h2, footer h2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;
    }
    
    section ul
    {
        width: 90%;
    }
    
    section ul br
    {
        display: none;
    }
    
    .section_texte
    {
        font-size: 0.8em;
        margin-left: 1%
    }
    
    section h3, section h4, section p
    {
        width: 98%; 
    }
    
    section h3, footer h3
    {
        font-size: 1em;
    }
    
    #recommandation
    {
        flex-direction: column;
    }
    
    .recommandation
    {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        text-align: center;
    }   
    
    aside h2
    {
        font-size: 1.3em;
    }
}

@media screen and (max-width:375px)
{
    header h1
    {
        font-size: 1.8em;
    }
    
    section h2, footer h2
    {
        font-size: 1.2em;
    }
    
    section h3
    {
        font-size: 0.9em;
    }
}
